<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>AJAX CRUD using JSON with webpack + babel + sass</h1>
    
      <div class="input-group user_id_box">
        <input type="text" id="user_id" name="user_id" class="form-group" placeholder="e-mail">
      </div>
      <div class="input-group user_pw_box">
        <input type="text" id="user_pw" name="user_pw" class="form-group" placeholder="password">
      </div>
      <div class="input-group user_first_box">
        <input type="text" id="user_first" name="user_first" class="form-group" placeholder="first name">
      </div>
      <div class="input-group user_last_box">
        <input type="text" id="user_last" name="user_last" class="form-group" placeholder="last name">
      </div>
      <button id="getBtn">GET</button>
      <button id="postBtn">POST</button>
      <button id="putBtn">PUT</button>
      <button id="delBtn">DELE</button>
    
    <pre class="viewer"></pre>
  </div>
  <script src="./js/app.bundle.js"></script>
</body>
</html>