*{ margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}

.wrapper {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  
}
h1 {
  color: #444;
}

button { 
  /*position: absolute;*/
  /*right: 10px;*/
  /*top: 18px;*/
  width: 50px; 
  height: 50px; 
  border: none; 
  border-radius: 50%; 
  background-color: black; 
  color: #fff;
}
button a:visited {
  color: #fff;
}

table {
  width: 100%;
  border-bottom: 1px solid #444;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  border-bottom: 1px solid #444;
  padding: 10px;

}

