<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>익명게시판</title>
</head>
<body>
  <div class="wrapper">
    <h1>익명게시판</h1>
    <form action="/addPost" method="post">
      <div class="title">
        <label for="title">제목</label>
        <input type="text" id="title" name="header">
      </div>
      <div>
        <label for="content">내용</label>
        <textarea rows="4" cols="50" id="content" name="content">내용을 입력해주세요</textarea>
      </div>
      <button type="submit">전송</button>
    </form>

  </div>
</body>
</html>