<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>익명게시판</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <div class="wrapper">
    <h1>익명 게시판</h1>
    <button><a href="/addPost" method="get">새글</a></button>
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(item => { %>
          <form action="/admin/<%= item.num %>/del" method="post">
            <tr>
              <td><%= item.num %></td>
              <td><a href="/content/<%= item.num%>"><%= item.header %></a></td>
              <td><button>삭제</button></td>
            </tr>
          </form>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>